@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.info {
  &__wrapper {
    @include flex-all-sb;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 495px;
  }

  img {
    max-width: 595px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius-main);
  }

  &__slogan {
    padding: 24px;
    text-align: center;
    background-color: var(--color-blue-300);
    color: var(--color-blue-900);
    border-radius: calc(var(--radius-main) - 8px);
  }

  &.section {
    padding-block: 64px 86px;
  }
}