@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.reviews {
  text-align: center;

  h2 {
    margin: 0 auto 24px;

    +p {
      max-width: 1010px;
      margin-bottom: 65px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__item {
    position: relative;
    max-width: 390px;
    width: 100%;
    background-color: var(--color-blue-100);
    border-radius: var(--radius-main);
    padding: 52px 32px 32px;

    &::after,
    &::before {
      @include pseudo;
      height: 42px;
      left: 50%;
      top: 32px;
      transform: translateX(-50%);
    }

    &::after {
      @include contain-background;
      background-image: var(--quotes);
      width: 42px;
    }

    &::before {
      @include pseudo;
      background-color: var(--color-blue-100);
      width: 74px;
    }

    p {
      margin-bottom: 16px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid var(--color-blue-300);
    padding-top: 38px;
  }

  h3 {
    margin: 0 auto;
  }
}